@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

:root {
  --toastify-white-background: #fff;
  --toastify-color-geriblue: #10141e;
  --toastify-color-morpic-backgrund: #60cefd1c;
  --toastify-color-morpic-dark: #0b3344;
  --toastify-color-black: #000;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-toast-width: 320px;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;
  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;
  --toastify-spinner-color: #d1d1d1;
  --toastify-spinner-color-empty-area: #e0e0e0;
  --toastify-color-progress-light: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error)
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #2e2e2e3b; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1413133b; 
}


#root {
  max-width: 100%;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  margin: 0;
  background-color: #d1d1d13b;
  box-shadow: inset 0 0 50px rgb(195, 195, 196);
}

li {
  list-style: none;
}

main {
  max-width: 1600px;
  background-color: var(--toastify-white-background);
}

.form_main_img {
  width: 68%;
  padding: 4rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_main_img div {
  width: 600px;
}

.form_main_img div img {
  width: 100%;
}

form {
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #625f6e;
  padding: 4rem !important;
  background-color: var(--toastify-white-background);
}

form ul {
  padding: 0;
}

form ul li {
  list-style: none;
  height: 60px;
  margin: 14px 0;
}

form ul li input {
  width: 100%;
  height: 40px;
  padding: .571rem 1rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d8d6de;
  border-radius: .357rem;

}

.submit {
  cursor: pointer;
  border: 1px solid transparent;
  padding: .786rem 1.5rem;
  border-radius: .358rem;
  background-color: rgb(29, 44, 91);
  color: var(--toastify-white-background);
  font-size: medium;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.said_bar {
  height: 100%;
  z-index: 12;
  width: 260px;
  background-color: var(--toastify-white-background);
  color: #625f6e;
  position: fixed;
  transition: width 0.4s ease;

}

.said_bar .compny_logo_box {
  height: 80px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.said_bar .itumes {
  padding: 0 20px;
}

.said_bar .itumes .itme_box {
  border-radius: 5px;
}

.active {
  transform: scale(1.1);
  color: var(--toastify-white-background);
  background: linear-gradient(118deg, #1d2c5b, rgba(29, 44, 91, .7));
  box-shadow: 0 0 5px #1d2c5b;
}
.departactive{
  color: var(--toastify-white-background);
  background: linear-gradient(118deg, #1d2c5b, rgba(29, 44, 91, .7));
  box-shadow: 0 0 5px #1d2c5b;
  height: 80px;
  border: 1px solid #625f6e;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-bottom: 10px;
  padding: 10px;
}


.said_bar .itumes li:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px black;
}

.said_bar .itumes .itme_box .itum {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
  padding: 8px;
}

.compny_logo {
  max-width: 150px;
}

.said_bar .itumes div {
  padding: 0;
  width: 100%;
}

.said_bar .itumes div .itme_box {
  display: flex;
  align-items: center;
}

.said_bar .itumes div .itme_box .itum {
  padding: 10px 8px;
}

.deshbord_main {
  height: 100%;
  margin-left: 260px;
  background-color: #d1d1d13b;
  box-shadow: inset 0 0 50px rgb(195, 195, 196);
  padding: 6.50rem 2rem 3.0rem;
  margin-left: 245px;
  position: relative;
}

.deshbord_mini {
  margin-left: 260px;
  background-color: #d1d1d13b;
  box-shadow: inset 0 0 50px rgb(195, 195, 196);
  padding: 6.50rem 2rem 3.0rem;
  margin-left: 80px;
  position: relative;
}

nav {
  padding: 0 24px;
}

.heding_box {
  z-index: 12;
  width: calc(100% - 4rem - 260px);
  margin: 0;
  background-color: var(--toastify-white-background);
  color: #625f6e;
  border-radius: 5px;
  padding: 0.5vw;
  display: flex;
  justify-content: space-between;
  position: fixed;
  margin: 12px 20px 12px 250px;
  box-shadow: 0 4px 24px 0 rgba(34, 41, 47, .1);
}

.heding_box ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.heding_box ul .user_logo img {
  width: 60px;
  height: 60px;
  background-color: aqua;
  border-radius: 50%;
}

.heding_box ul li {
  padding-left: 10px;
  list-style: none;
  text-align: end;
}

.heding_box ul li img {
  width: 50px;

}

.heding_box ul li p {
  margin: 0;
}

.heding_box h1 {
  font-size: 20px;
  font-weight: 500;
  margin: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heding_box_mini {
  z-index: 12;
  width: calc(100% - 4.4rem - 74px);
  margin: 0;
  background-color: var(--toastify-white-background);
  color: #625f6e;
  border-radius: 5px;
  padding: 0.5vw;
  display: flex;
  justify-content: space-between;
  position: fixed;
  margin: 12px 20px 12px 80px;

}

.heding_box_mini ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.heding_box_mini ul .user_logo img {
  width: 60px;
  height: 60px;
  background-color: aqua;
  border-radius: 50%;
}

.heding_box_mini ul li {
  padding-left: 10px;
  list-style: none;
  text-align: end;
}

.heding_box_mini ul li img {
  width: 50px;
}

.heding_box_mini ul li p {
  margin: 0;
}

.heding_box_mini h1 {
  font-size: 20px;
  font-weight: 500;
  margin: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-navbar-shadow {
  display: block;
  width: 100%;
  height: 102px;
  position: fixed;
  top: 0;
  z-index: 11;
  padding-top: 2.2rem;
  background: linear-gradient(180deg, hsla(0, 0%, 97.3%, .95) 44%, hsla(0, 0%, 97.3%, .46) 73%, hsla(0, 0%, 100%, 0));
  left: 0;
}

.management_items {
  background-color: var(--toastify-white-background);
}

.management_items .sites_items {
  padding-bottom: 20px;
}

.management_items header h2 {
  color: #625f6e;
  padding: 15px;
  font-size: 20px;
  font-weight: 500;
}

.search_input {
  width: 100%;
  height: 40px;
  padding: .571rem 1rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d8d6de;
  border-radius: .357rem;
}

.togal_box {
  width: 140px;
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e7eb;
  box-shadow: 0 0 5px #d8d6de;
  position: absolute;
  color: #625f6e;
  padding: 5px 0 5px 0;
  background-color: #fff;
  top: -5rem;
  font-weight: 400;
}

.togal_box a {
  width: 100%;
  padding: .65rem .85rem;
}

.togal_box a:hover {
  background-color: #d8d6de;
}

.user_names {
  background-color: rgb(255, 159, 67);
  color: #fff;
  border-radius: .358rem;
  margin: 0 4px 5px 0;
  padding: 0 8px;
}

.collapsed {
  width: 80px;
}

.icon-only {
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 5px;
}

.icon-only .itum {
  width: 100%;
  padding: 10px 10px;
  
}

.department_items_name{
  width: 18%;
  position: fixed;
  height: 42vw;
  overflow: scroll;
  margin:  0 10px 0 0;
  padding: 10px 10px 50px 10px ;
  /* height: calc(100% - 4.45rem) !important; */
  background-color: white;
}

/* dropdown start */
.dropdown-container {
  width: 100%;
  padding: 0 0 0 15px;
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  width: 260px;
  max-height: 38px;
  border: 1px solid rgb(237, 237, 237);
  border-radius: 5px;
  color: #625f6e;
  padding: 5px 20px;
  font-size: 14px;
  cursor: pointer;
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.dropdown-menu {
  width: 260px;
  margin: 0 0 0 15px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  color: #625f6e;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.dropdown-item[disabled] {
  color: #aaa;
  cursor: not-allowed;
}

/* Optional: Adjust the appearance of the disabled item */
.dropdown-item[disabled]::before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 5px;
}

.dropdown_active{
  padding: 10px;
  color: var(--toastify-white-background);
  background: linear-gradient(118deg, #1d2c5b, rgba(29, 44, 91, .7));
  box-shadow: 0 0 5px #1d2c5b;
}

/* DatePicker.css */
.react-datepicker {
  font-family: Arial, sans-serif;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.react-datepicker__day-names {
  display: flex;
  justify-content: space-between;
}

.react-datepicker__day-name {
  width: 30px;
  text-align: center;
}

.react-datepicker__day {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.react-datepicker__day:hover {
  background-color: #f0f0f0;
}

.react-datepicker__day--selected {
  background-color: #007bff;
  color: #fff;
}

.react-datepicker__day--today {
  font-weight: bold;
}

.custom-date-picker {
  margin-top: 10px;
}

.react-datepicker__month-container{
  width: 260px;
  background-color:  #e1ebfd81;
}
.react-datepicker__week{
  display: flex;
  justify-content: space-evenly;
}