@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

:root {
  --toastify-white-background: #fff;
  --toastify-color-geriblue: #10141e;
  --toastify-color-morpic-backgrund: #60cefd1c;
  --toastify-color-morpic-dark: #0b3344;
  --toastify-color-black: #000;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-color-transparent: rgba(255, 255, 255, .7);
  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);
  --toastify-toast-width: 320px;

  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;
  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;
  --toastify-spinner-color: #d1d1d1;
  --toastify-spinner-color-empty-area: #e0e0e0;
  --toastify-color-progress-light: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error)
}



#root {
  max-width: 100%;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  margin: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

li {
  list-style: none;
}

main {
  max-width: 1600px;
  /* height: 80vw; */
  background-color: var(--toastify-white-background);
}

.form_main_img {
  width: 68%;
  padding: 4rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_main_img div {
  width: 600px;

}

.form_main_img div img {
  width: 100%;
}

form {
  width: 32%;
  /* margin: 0 auto; */
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: center;
  color: #625f6e;
  padding: 4rem !important;
  background-color: var(--toastify-white-background);
}

form ul {
  padding: 0;
}

form ul li {
  list-style: none;
  height: 60px;
  margin: 14px 0;
}

form ul li input {
  width: 100%;
  height: 40px;
  padding: .571rem 1rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d8d6de;
  border-radius: .357rem;

}

.submit {
  cursor: pointer;
  border: 1px solid transparent;
  padding: .786rem 1.5rem;
  border-radius: .358rem;
  background-color: rgb(29, 44, 91);
  color: var(--toastify-white-background);
  font-size: medium;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.said_bar {
  height: 100%;
  z-index: 10;
  width: 260px;
  background-color: var(--toastify-white-background);
  color: var(--toastify-color-black);
  position: fixed;
}

.said_bar .compny_logo_box {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.said_bar .itumes {
  padding: 0 20px;
  color: #625f6e;
}

.said_bar .itumes li {
  border-radius: 5px;
  /* border: 1px solid red; */
}

.active {
  transform: scale(1.1);
  color: var(--toastify-white-background);
  background: linear-gradient(118deg, #1d2c5b, rgba(29, 44, 91, .7));
}

.said_bar .itumes li:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px black;
}

.said_bar .itumes .itum {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
}

.compny_logo {
  width: 100px;
}

.said_bar section ul {
  padding: 0;
  width: 100%;
}

.said_bar section ul li {
  padding: 10px 8px;
}

.deshbord_main {
  /* width: 80%; */
  height: 100%;
  margin-left: 260px;
  background-color: #d1d1d13b;
  box-shadow: inset 0 0 50px rgb(195, 195, 196);
  padding: 6.50rem 2rem 3.0rem;
  margin-left: 245px;
  position: relative;
}

nav {
  width: 100%;
}

.heding_box {
  z-index: 10;
  width: 81%; 
  margin: 0;
  background-color: var(--toastify-white-background);
  color: #625f6e;
  border-radius: 5px;
  padding: 0.5vw;
  display: flex;
  justify-content: space-between;
  position: fixed;
  margin: 12px 0 12px;
  margin-left: 272px;
}

.heding_box ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.heding_box ul .user_logo img {
  width: 60px;
  height: 60px;
  background-color: aqua;
  border-radius: 50%;
}

.heding_box ul li {
  padding-left: 10px;
  list-style: none;
  text-align: end;
}

.heding_box ul li img {
  width: 50px;

}

.heding_box ul li p {
  margin: 0;
}

.heding_box h1 {
  font-size: 20px;
  font-weight: 500;
  margin: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-navbar-shadow {
  display: block;
  width: 100%;
  height: 102px;
  position: fixed;
  top: 0;
  z-index: 11;
  padding-top: 2.2rem;
  /* background: linear-gradient(180deg, hsla(0, 0%, 97.3%, .95) 44%, hsla(0, 0%, 97.3%, .46) 73%, hsla(0, 0%, 100%, 0)); */
  left: 0;
}

.management_items {
  max-height: 1200px;
  background-color: var(--toastify-white-background);

}

.management_items .sites_items {
  padding-bottom: 20px;
}

.management_items header h2 {
  color: #625f6e;
  padding: 15px;
  font-size: 20px;
  font-weight: 500;
}

.search_input{
  width: 100%;
  height: 40px;
  padding: .571rem 1rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d8d6de;
  border-radius: .357rem;
}

.togal_box{
  width: 140px;
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e7eb;
  box-shadow: 0 0 5px #d8d6de ;
  position: absolute;
  color: #625f6e;
  padding: 5px 0 5px 0;
  background-color: #fff;
  top: -5rem;
  font-weight: 400;
}
.togal_box a{
  width: 100%;
  padding: .65rem .85rem ;
}
.togal_box a:hover{
  background-color: #d8d6de;
}

